{% extends "layout.html" %}

{% block body %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>
<p>
  Welcome to the MSGboard!
</p>

<ul>

  {% if comment_count is defined and comment_count|length > 0  %}
  <p>Amount of commets by users</p>
  <table>
    <tr>
      <th>Username</th>
      <th>Comment count</th>
    </tr>


    {% for user in comment_count %}
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.amount}}</td>
    </tr>
    {% endfor %}


    {% endif %}
  </table>
</br></br>
  {% if thread_count is defined and thread_count|length > 0  %}
  <p>Number of threads made by user</p>
  <table>
    <tr>
      <th>Username</th>
      <th>Amount of threads</th>
    </tr>


    {% for user in thread_count %}
    <tr>
      <td>{{user.user}}</td>
      <td>{{user.threads}}</td>
    </tr>
    {% endfor %}

    {% endif %}

  </table>
</ul>


{% endblock %}