{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Comment</th>
      <th>Created</th>
      <th>Edited</th>

    </tr>
    {% for comment in comment %}
    <tr>
      <td>{{ comment.content }}</td>
      <td>{{ comment.created }}</td>
      <td>{{ comment.edited }}</td>
      <td><form method="POST" action="{{ url_for('comment_delete', comment_id=comment.id) }}">
        <input type="submit" value="delete"/>
      </form>
    </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}