{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('thread_create') }}">
  <table>
    <tr>
      <td>
        {{ form.title.label }}
      </td>
      <td>
        {{ form.title }}
      </td>
      <td>
        <ul>
          {% for error in form.title.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>

    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Create thread" />
      </td>
    </tr>
</form>
{% endblock %}