{% extends "layout.html" %}

{% block body %}
{% for info in threadinfo %}
<td>
  <form method="POST" action="{{ url_for('thread_edit', thread_id = info.id) }}">
      <input type="submit" value="edit">
  </form>
</td>
<td>
  <form method="POST" action="{{ url_for('thread_delete', thread_id = info.id) }}">
      <input type="submit" value="delete thread">
  </form>
</td>


  <p>created: {{ info.created }}</p>
  <p>edited: {{ info.edited }}</p>
  <h1>{{ info.title }}</h1>
  <th>{{ info.content }}</th>
{% endfor %}


{% include '/thread/listComments.html' %}
{% include '/thread/comment.html' %}
{% endblock %}